<html>
  <head>
    <meta name="viewport" content="width=device-width, intial-scale=1" />
    <link rel="stylesheet" href="forgot.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
    <div class="main-container">
      <div class="card-container">
        <div class="input-container">
          <div class="emailbox">
            <label class="label1"> email</label><br />
            <input
              class="field1"
              id="email_id"
              placeholder="Enter email"
              type="text"
            />
            <img class="mail" src="mail.png" />
          </div>
          <button onclick="onLoginClick()" class="login-button">Submit</button>
        </div>
      </div>
    </div>
    <script>
      const onLoginClick = async(req, res) => {
        const emailElement = document.getElementById("email_id");

        var obj = {
          email: emailElement.value,
        };
        console.log(obj);
        var url = "http://localhost:4005/api/forgotpassword";
        var response = await fetch(url, {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
          body: JSON.stringify(obj),
        });
       console.log("reset link has been sent to your registered mail id click on the link to proceed")
          window.location.href = "new1.html";
      };
    </script>
  </body>
</html>
