<html>
  <head>
    <meta name="viewport" content="width=device-width, intial-scale=1" />
    <link rel="stylesheet" href="forgot.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
    <div class="main-container">
      <div class="card-container">
        <div class="input-container">
            <div class="passwordbox">
                <label class="label2">Password</label><br />
                <input
                  class="field2"
                  id="pass_id"
                  type="password"
                  placeholder="Enter your Password"
                />
                <img
                  src="crosseye.svg"
                  id="eye_id"
                  onClick="showHidePassword()"
                  class="pass-eye"
                />
              </div>
              <div class="passwordbox">
                <label class="label2">confirmPassword</label><br />
                <input
                  class="field2"
                  id="pass1_id"
                  type="password"
                  placeholder="Enter your Password"
                />
                <img
                  src="crosseye.svg"
                  id="eye_id"
                  onClick="showHidePassword()"
                  class="pass-eye"
                />
              </div>
          <button onclick="onLoginClick()" class="login-button">Reset</button>
        </div>
      </div>
    </div>
    <script>
      // const onLoginClick = async (req, res) => {
      //   const passElement = document.getElementById("pass_id");
      //   const confElement = document.getElementById("pass1_id");

      //   var obj = {
      //     Password: passElement.value,
      //     confirmPassword:confElement.value
      //   };
      //   console.log(obj);
      //   var url = "http://localhost:4003/api/reset-password";


      //   var response = await fetch(url, {
      //     method: "POST",
      //     headers: {
      //       Accept: "application/json",
      //       "Content-Type": "application/json",
      //     },
      //     body: JSON.stringify(obj),
      //   });
      //   response = await response.json();
      //   window.location.href = "login.html";
      // };
      const onLoginClick = async () => {
        const passElement = document.getElementById("pass1_id");
        const confirmElement = document.getElementById("pass2_id");
        var obj = {
          Password: passElement.value,
          confirmPassword:confirmElement.value
        };
        console.log("reset-password", obj);
        var url = "http://localhost:4003/api/reset-password/:_id/:token";
        var response = await fetch(url, {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
          body: JSON.stringify(obj),
        });
        response = await response.json();

        var error = document.getElementById("error_id");
        if (response.status === false) {
          error.innerText = response.msg;
          error.style.color = "red";
        } else {
          error.innerText="";
          localStorage.setItem("token", response.token);
          localStorage.setItem("userData", JSON.stringify(response.data));

          window.location.href = "login.html";
        }
      };
    </script>
  </body>
</html>
